<div class="row main" style="height: 100vh">
  <!--Nav bar-->
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <!--Content-->
  <div class="ci-main-content">
    <!--Header-->
    <div class="header">
      <i class="material-icons header-icon" (click)="onClickBack()">arrow_back</i>
      <p class="header-title">Выбор исполнителя</p>
    </div>

    <!--Content nav bar-->
    <div class="row nav-cont">
      <p class="nav-info" id="navInfo" (click)="onClickInfo()">Информация</p>
      <p class="nav-rev" id="navRev" (click)="onClickRev()">Отзывы {{master?.reviews.length}}</p>
    </div>

    <!--Content-->
    <div class="ci-content">

      <div class="info-cont" id="infoCont">
        <!--Title-->
        <div class="contractor-name">
          <img class="cl-contractor-img" src="{{master?.photo}}">
          <div class="cl-name">
            <p>{{master?.name}}</p>
            <p class="cl-name-prof">{{master?.profession}}</p>
          </div>
          <i class="material-icons icon-verified" *ngIf="master?.profession">verified_user</i>
        </div>

        <!--Registration-->
        <div class="m">
          <p class="title">Регистрация</p>
          <div class="row">
            <div class="column">
              <i class="material-icons" *ngIf="master?.registration.docs_verifed">check</i>
              <i class="material-icons" *ngIf="master?.registration.interview_passed">check</i>
              <i class="material-icons" *ngIf="master?.registration.interview_passed">check</i>
            </div>
            <div class="column">
              <p class="text">Документы подтверждены</p>
              <p class="text">Собеседование пройдено</p>
              <p class="text">Тестирование прошел</p>
            </div>
          </div>
        </div>

        <!--Contractor info-->
        <div class="m">
          <p class="title">Информация об исполнителе</p>
          <div class="row">
            <p class="info-text">Опыт работы</p>
            <p class="info-text-2">c {{master?.experience}} г.</p>
          </div>
          <div class="row">
            <p class="info-text">Образование</p>
            <p class="info-text-2">{{master?.education}}</p>
          </div>
          <div class="row">
            <p class="info-text">Район обслуживания</p>
            <p class="info-text-2">{{master?.work_location}}</p>
          </div>
          <div class="row">
            <p class="info-text">График работы</p>
            <p class="info-text-2">{{master?.schedule}}</p>
          </div>
        </div>

        <!--Service list-->
        <div class="m" style="width: 50%">
          <p class="title">Виды оказываемых услуг</p>
          <div class="row" *ngFor="let service of master?.service_list">
            <p class="text-1">{{service?.name}}</p>
            <p class="text-right">{{service?.price}}</p>
          </div>
        </div>

        <div class="photo-gallery">

        </div>
      </div>

      <!--Reviews-->
      <div class="reviews" id="revCont">
        <!--Title-->
        <div class="reviews-title">
          <p class="title">Отзывы пользователей</p>
          <div class="row">
            <div>
              <p>Рейтинг:</p>
              <p>Отзывов:</p>
            </div>
            <div>
              <p>{{master?.rating}} из 5</p>
              <p>{{master?.reviews.length}}</p>
            </div>
          </div>
        </div>

        <!--Array of reviews-->
        <div class="review m-t-20" *ngFor="let review of master?.reviews">
          <div class="row m-10">
            <p class="mark">{{review.stars}}</p>
            <div class="review-descrip">
              <p class="review-title">{{review.service}}</p>
              <p class="review-date">{{review.orderdate}}</p>
            </div>
          </div>
          <p class="p-10">{{review.comment}} </p>
        </div>

      </div>
    </div>

    <!--Call button-->
    <div class="ci-call-btn-wrapper">
      <button class="ci-call-btn" (click)="onClickChoose()">Выбрать</button>
    </div>
  </div>
</div>
