<div class="main-wrapper">
  <!--Nav bar-->
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <!--Content-->
  <div style="width: 60%">
    <!--Header-->
    <div class="header">
      <div class="header-1"></div>
      <div class="header-2">
        <i class="material-icons header-icon" (click)="onClickBack()">arrow_back</i>
        <p class="header-title">Выбор исполнителя</p>
      </div>
    </div>

    <!--Content-->
    <div class="content">
      <div class="contractor-name">
        <img class="cl-contractor-img" src="../../assets/img/contractor/sample-user.png">
        <div class="cl-name">
          <p>Александр Б.</p>
          <p class="cl-name-prof">cантехник</p>
        </div>
        <i class="material-icons icon-verified">verified_user</i>
      </div>

      <div class="row">
        <div class="m" style="width: 50%">
          <p class="title">Регистрация</p>
          <div class="row">
            <div class="column">
              <i class="material-icons">check</i>
              <i class="material-icons">check</i>
              <i class="material-icons">check</i>
            </div>
            <div class="column">
              <p class="text">Документы подтверждены</p>
              <p class="text">Собеседование пройдено</p>
              <p class="text">Тестирование прошел</p>
            </div>
          </div>
        </div>

        <div class="m" style="width: 50%">
          <p class="title">Информация об исполнителе</p>
          <div class="row">
            <div>
              <p class="info-text">Опыт работы</p>
              <p class="info-text">Образование</p>
              <p class="info-text">Район обслуживания</p>
              <p class="info-text">График работы</p>
            </div>

            <div>
              <p class="info-text-2">c 2012 г.</p>
              <p class="info-text-2">высшее</p>
              <p class="info-text-2">г. Бишкек</p>
              <p class="info-text-2">07:00 - 21:00</p>
            </div>
          </div>
        </div>

        <div class="m" style="width: 50%">
          <p class="title">Виды оказываемых услуг</p>
          <div class="row">
            <div>
              <p class="text">Чистка труб</p>
              <p class="text">Замена труб</p>
              <p class="text">Замена труб</p>
              <p class="text">Сварочные работы</p>
              <p class="text">Замена труб</p>
            </div>
            <div>
              <p class="text-right">300 c</p>
              <p class="text-right">1000 c</p>
              <p class="text-right">2000 c</p>
              <p class="text-right">5000 c</p>
              <p class="text-right">10000 c</p>
            </div>
          </div>
        </div>

        <div class="photo-gallery">

        </div>

      </div>

    </div>

  </div>

  <!--Reviews-->
  <div style="position: fixed; bottom: 0; background-color: gray">
    Отзывы
  </div>

</div>
