::-webkit-input-placeholder {
  color: #9F9F9F;
}

.contacts-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
  margin-left: 10px;
  background-color: white;
}

.contacts-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-headTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 100%;
  height: 80px;
  background: #2196f3;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.qr-c-name {
  margin-top: 30px;
  border: none;
  border-bottom: 1px #D1D1D1 solid;
  width: 328px;
}

.qr-c-btn {
  border: none;
  border-radius: 5px;
  background-color: #FFC107;
  height: 42px;
  width: 328px;
  font-weight: 500;
  font-size: 15px;
  margin: 30px auto;
}

.reg-row-centering {
  align-items: center;
}

.reg-checkbox {
  width: 15px;
  height: 15px;
  background-color: #d0d0d0;
  border-radius: 4px;
}

.reg-accept {
  font-size: 14px;
}

.reg-url {
  color: #2196F3;
}

.phone-notif {
  font-size: 14px;
  color: #dd4b39;
  text-align: left;
  width: 100%;
  padding: 10px 0 0 20px;
}

.popup {
  height: 260px;
}

.reg-pop-title {
  font-weight: bold;
}

.btn-orange {
  width: 250px;
  position: absolute;
  bottom: 30px;
}

.sms-inp {
  margin-top: 30px;
  padding: 7px;
  border: none;
  border-bottom: 1px #D1D1D1 solid;
  width: 200px;
  font-size: 16px;
}

.sms-inp::-webkit-input-placeholder {
  font-size: 16px;
}

.reg-pop-repeat {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-top: 20px;
  color: #686868;
}

.reg-pop-counter {
  font-size: 14px;
  color: #979797;
  margin-top: 6px;
}

.reg-pop-btn {
  background-color: white;
  border: none;
  border-bottom: 1px solid rgba(36, 164, 255, 0.58);
  color: #2196F3;
  font-weight: bold;
  margin-top: 30px;
  font-size: 14px;
}

/*Responsive styles*/
@media screen and (max-width: 500px) {
  .service-list {
    flex-direction: column;
  }

  .service {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .qr-c-btn {
    width: 90%;
  }

  .qr-c-name {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .header {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .contacts-content-wrapper {
    width: 100%;
    margin: 0 0 60px 0;
  }

  .contacts-content {
    width: 100%;
  }
}
