<div class="contacts-content-wrapper">
  <div class="contacts-headTitle">Ваши контакты</div>
  <div class="contacts-content-wrapper">
    <input class="nameEdit" type="text" id="address" autocomplete="off" placeholder="Имя">
    <input class="nameEdit" type="tel" id="phone" autocomplete="off" placeholder="Номер телефона">
    <input class="nameEdit" type="email" id="email" autocomplete="off" placeholder="E-mail (не обязательно)">
    <input class="nameEdit" type="text" id="description" autocomplete="off" placeholder="Описание проблемы ">
    <button (click)="onClick()">Далее</button>
  </div>
</div>
