<!--Content-->
<div class="contacts-content-wrapper">
  <div class="contacts-headTitle">Способ заказа</div>

  <div class="content">
    <div class="choose">
      <img class="choose-img" src="../../assets/img/choose/master.svg">
      <p class="choose-title">Связаться напрямую с исполнителем</p>
      <button class="choose-btn" (click)="onClick()">Выбрать</button>
    </div>
    <div class="choose">
      <img class="choose-img" src="../../assets/img/choose/operator.svg">
      <p class="choose-title">Оформить заказ через оператора</p>
      <button class="choose-btn">Выбрать</button>
    </div>
  </div>
</div>
