<div class="row main">
  <!--Nav bar-->
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="common-wrapper">
    <div class="header">
      <i class="material-icons header-icon" (click)="onClickBack()">arrow_back</i>
      <span class="header-title">Вход</span>
    </div>

    <div class="prof-content">
      <input class="prof-form" name="name" type="text" autocomplete="off" placeholder="Номер телефона"
             minlength="10" required/>
      <input class="prof-form" name="password" type="text" autocomplete="off" placeholder="Пароль"
             minlength="10" required/>
      <p class="prof-text-1">Забыли или не создали пароль?<span class="prof-text-2" (click)="onPasswordCreate()"> Создать пароль</span></p>
      <button [disabled]="" class="btn-orange m-t-30">
        Войти
      </button>
      <div class="row m-t-20">
        <span class="prof-hor-line"></span><span class="prof-or">или</span><span class="prof-hor-line"></span>
      </div>
      <button class="prof-namba1-btn"></button>
    </div>
  </div>

</div>
