<div class="row main">
  <!--Nav bar-->
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="common-wrapper">
    <div class="header">
      <i class="material-icons header-icon" (click)="onClickBack()">arrow_back</i>
      <span class="header-title">Вход</span>
    </div>

    <div class="prof-content">
      <input [textMask]="{mask: mask}" (keyup)="checkPhoneComplete()" class="prof-form" type="text" autocomplete="off" placeholder="Номер телефона"
              [(ngModel)]="phoneVal" #phone="ngModel" required/>
      <input class="prof-form" name="pass" type="password" autocomplete="off" placeholder="Пароль"
             minlength="5" maxlength="40" [(ngModel)]="passVal" #pass="ngModel" required/>
      <p class="prof-text-1">Забыли или не создали пароль?<span class="prof-text-2" (click)="onPasswordCreate()"> Создать пароль</span></p>
      <button [disabled]="phone.invalid || pass.invalid || phoneComplete" class="btn-orange m-t-30" (click)="onLogin()">
        Войти
      </button>

      <div class="wrong-num-phone" *ngIf="wrongNumberOrPhone">Неправильный номер или пароль</div>

      <p class="prof-text-2 m-t-30" (click)="onRegistration()">Еще не зарегистрированы?</p>

    </div>
  </div>

</div>
