<div class="row main">
  <!--Nav bar-->
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="common-wrapper">
    <div class="header">
      <span class="header-title">Вход</span>
    </div>

    <div class="prof-content">
      <input class="prof-form" type="text" autocomplete="off" placeholder="Номер телефона"
             minlength="10" maxlength="10" [(ngModel)]="phoneVal" #phone="ngModel" required/>
      <input class="prof-form" name="pass" type="text" autocomplete="off" placeholder="Пароль"
             minlength="5" maxlength="40" [(ngModel)]="passVal" #pass="ngModel" required/>
      <p class="prof-text-1">Забыли или не создали пароль?<span class="prof-text-2" (click)="onPasswordCreate()"> Создать пароль</span></p>
      <button [disabled]="phone.invalid || pass.invalid" class="btn-orange m-t-30" (click)="onLogin()">
        Войти
      </button>

      <p class="prof-text-2 m-t-30" (click)="onRegistration()">Еще не зарегистрированы?</p>

      <!--Implement later-->
      <!--<div class="row m-t-20">-->
        <!--<span class="prof-hor-line"></span><span class="prof-or">или</span><span class="prof-hor-line"></span>-->
      <!--</div>-->
      <!--<button class="prof-namba1-btn"></button>-->
    </div>
  </div>

</div>
