<div class="row main" style="height: 100vh">
  <!--Nav bar-->
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="contacts-content-wrapper">
    <div class="header">
      <i class="material-icons header-icon" (click)="onClickBack()">arrow_back</i>
      <span class="header-title">Ваши контакты</span>
    </div>
    <div class="contacts-content">
      <input class="qr-c-name" name="name" type="text" id="address" autocomplete="off" placeholder="Имя"
             [(ngModel)]="nameValue" #name="ngModel" minlength="2" required (keyup)="checkBtnValid()"/>

      <input class="qr-c-name" name="phone" type="text" id="phone" autocomplete="off" placeholder="{{phonePlaceholder}}"
             [(ngModel)]="phoneValue" #phone="ngModel" minlength="10" maxlength="10" required
             (keyup)="checkBtnValid()">

      <button id="btn" [disabled]="name.invalid || phone.invalid" class="qr-c-btn" (click)="onNext()">
        Далее
      </button>

    </div>
  </div>
</div>

<!--Password create popup-->
<div class="modal" id="modal" *ngIf="modal">
  <div class="popup" *ngIf="!password">
    <p class="popup-title">Данный номер уже зарегистрирован, чтобы продолжить необходимо создать пароль</p>
    <button class="popup-btn" (click)="onPassCreate()">Создать</button>
  </div>

  <div class="popup" *ngIf="password">
    <p class="popup-title">Указанный номер уже зарегистрирован, чтобы продолжить необходимо авторизоваться</p>
    <button class="popup-btn" (click)="onLogin()">Войти</button>
  </div>
</div>
