<div class="row main" style="height: 100vh">
  <!--Nav bar-->
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="code-content-wrapper">
    <div class="header">
      <i class="material-icons header-icon" (click)="onClickBack()">arrow_back</i>
      <span class="header-title">Код подтверждения</span>
    </div>

    <div class="code-content">
      <h3 class="code-title">Подтверждение номера</h3>
      <p class="code-text">Пожалуйста введите код который мы отправили на ваш номер телефона</p>
      <input class="code" name="code" type="text" id="code" autocomplete="off" placeholder="Код подтверждения"
            [(ngModel)]="codeValue" #code="ngModel" minlength="4" maxlength="4" required>
      <br>
      <button class="code-btn" [disabled]="code.invalid" (click)="onClick()">Далее</button>

      <div class="row resend-cont">
        <p class="resend-text">Не пришло смс?</p>
        <button class="resend-btn" (click)="onSendSms()">Отправить повторно</button>
      </div>

    </div>
  </div>
</div>
