.common-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.main-container {
  width: 320px;
}

.prof-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: left;
}

.prof-key {
  color: #7E7E7E;
  font-size: 14px;
  margin-top: 10px;
}

.prof-val {
  font-size: 14px;
  margin-top: 10px;
}

.col-1 {
  width: 35%;
}

.col-2 {
  width: 65%;
}

.nav-text {
  font-size: 14px;
  color: #2196F3;
  width: 97%;
}

.nav-text-2 {
  font-size: 14px;
  color: #2196F3;
  width: 100%;
}

.arrow-right {
  background-image: url("../../../assets/img/arrow-right.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.prof-border-1 {
  border: #E5E5E5 solid;
  border-width: 1px 0;
  padding: 10px 0;
}

.prof-border-2 {
  border-bottom: 1px #E5E5E5 solid;
  padding: 10px 0;
}
