<div class="row main">
  <!--Nav bar-->
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="common-wrapper">
    <div class="header">
      <i class="material-icons header-icon" (click)="onClickBack()">arrow_back</i>
      <span class="header-title">Мой профиль</span>
    </div>

    <div class="prof-content">
      <input class="prof-form" name="name" type="text" autocomplete="off" placeholder="Имя"
             minlength="10" required/>
      <input class="prof-form" name="password" type="text" autocomplete="off" placeholder="Пароль"
             minlength="10" required/>
      <button [disabled]="" class="prof-btn">
        Далее
      </button>
    </div>
  </div>

</div>
