.master-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  min-height: 100vh;
  margin-left: 10px;
  background-color: white;
}

.master-title {
  margin: 30px 0 10px 0;
  width: 328px;
}

.master-btn {
  border: none;
  border-radius: 5px;
  background-color: #FFC107;
  height: 42px;
  width: 328px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 30px auto;
}

.master-con {
  align-items: center;
  justify-content: center;
  border: 1px #E5E5E5 solid;
  border-radius: 5px;
  width: 328px;
}

.master-con-name {
  font-size: 12px;
  color: #7E7E7E;
}

.master-link {
  border: solid;
  border-width: 1px 0;
  border-color: #E5E5E5;
  width: 328px;
  padding: 10px 0;
}

.master-link-2 {
  border-bottom: 1px #E5E5E5 solid;
  width: 328px;
  padding: 10px 0;
}

.master-link-icon {
  margin-left: auto;
  margin-right: 10px;
}

.master-link-elem {
  color: #2196F3;
}

.master-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn-operator {
  outline: none;
  border: none;
  align-items: center;
  height: 42px;
  width: 80%;
  background-color: #F1F1F1;
  border-radius: 4px;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1em;
  overflow: hidden;
  padding-right: 40px;
  display: inline-flex;

  img {
    width: 30px;
    margin-right: 20px;
    margin-left: 25px;
  }
}

.phone-call {
  margin-top: 20%;
}

.phone-number {
  font-weight: bold;
}

.phone-icon {
  font-size: 16px;
  margin-left: 20%;
  margin-right: 10px;
}

/*Responsive styles*/
@media screen and (max-width: 800px) {
  body {
    background-color: white;
  }

  .main {
    height: 96vh;
  }

  .header {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .master-content-wrapper {
    width: 100%;
    margin: 0;
  }


  .master-desc {
    width: 100%;
  }

  .popup {
    left: 30%;
  }
}

@media screen and (max-width: 500px) {
  .master-btn, .master-con {
    width: 90%;
  }

  .master-bottom {
    margin-top: auto;
    margin-bottom: 80px;
    width: 100%;
  }

  .master-link, .master-link-2 {
    width: 100%;
  }

  .master-title {
    width: 90%;
  }

  .master-title-2, .master-link-elem {
    margin-left: 30px;
  }

  .phone-call {
    display: none;
  }

  .btn-operator {
    display: flex;
    outline: none;
    border: none;
    align-items: center;
    height: 42px;
    width: 80%;
    background-color: #F1F1F1;
    border-radius: 4px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1em;
    overflow: hidden;
    padding-right: 40px;

    img {
      width: 30px;
      margin-right: 20px;
      margin-left: 25px;
    }
  }

  .popup {
    position: absolute;
    left: 7%;
    width: 85%;
    height: 315px;
    background-color: white;
    border-radius: 4px;
    top: 20%;
  }
}

.popup{
  height: 315px;
}

.call-to-operator {
  margin-top: 20px;
  font-size: 17px;
  font-weight: bold;
}

.call-to-master {
  font-size: 17px;
  font-weight: bold;
  border-top: 1px solid grey;
  width: 100%;
  text-align: center;
  margin-top: 25px;
  padding-top: 17px;
}

#video_modal {
  align-items: initial;
  background: #00afff;

  .block {
    text-align: center;
    width: 100%;

    .video_call {
      color: #fff;
      font-weight: bold;
      margin: 15px 0 15px 0;
    }

    .operator {
      color: #fff;
      margin-bottom: 4%;
      text-align: -webkit-center;

      .video_image{
        width: 45%;
        background: #000;
        height: 325px;
        margin-bottom: 15px;
      }

      img {
        border-radius: 50%;
        width: 120px;
        height: 110px;
      }
    }

    .complete {
      .finish_call {
        padding-top: 5px;
        color: #fff;
      }

      img {
        width: 40px;
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 15px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #video_modal{
    .block{
      .operator{
        margin-bottom: 13%;

        .video_image{
          width: 100%;
          height: 300px;
        }
      }
    }
  }
}

#audio_modal, #master_call_audio_modal {
  align-items: initial;
  background: #00afff;

  .block {
    text-align: center;

    .audio_call {
      color: #fff;
      font-weight: bold;
      margin: 15px 0 15px 0;
    }

    .operator {
      color: #fff;
      margin: 100% 0;

      img {
        border-radius: 50%;
        width: 120px;
        height: 110px;
      }
    }

    .complete {
      .finish_call {
        padding-top: 5px;
        color: #fff;
      }

      img {
        width: 40px;
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 15px;
      }
    }
  }
}

@media screen and (max-width: 325px) {
  #audio_modal, #master_call_audio_modal {
    .block {
      .operator {
        color: #fff;
        margin: 90% 0;

        img {
          border-radius: 50%;
          width: 100px;
          height: 90px;
        }
      }
    }
  }
}
