<div class="row main">
  <!--Nav bar-->
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="master-content-wrapper">
    <div class="header">
      <i class="material-icons header-icon" (click)="onClickBack()">arrow_back</i>
      <span class="header-title">Позвонить исполнителю</span>
    </div>

    <h3 class="master-title">Исполнитель</h3>

    <app-master-desc [master]="master"></app-master-desc>

    <button class="master-btn" (click)="onCall()">Позвонить</button>

    <div class="master-bottom">
      <h3 class="master-title master-title-2">Смена исполнителя</h3>
      <div class="row master-link" (click)="onNavContractors()">
        <span class="master-link-elem">Выбрать другого исполнителя</span>
        <i class="material-icons master-link-icon">keyboard_arrow_right</i>
      </div>
      <div class="row master-link-2">
        <span class="master-link-elem">Заказать через оператора</span>
        <i class="material-icons master-link-icon">keyboard_arrow_right</i>
      </div>
    </div>

    <!--Call popup-->
    <div class="modal" id="modal" *ngIf="modal" (click)="onClickOverModal($event)">
      <div class="popup">
        <p class="phone-call">Наберите номер: <span class="phone-number">1412</span></p>
        <button class="btn-operator">
          <i class="material-icons phone-icon">phone</i>
          Звонок оператору
        </button>
        <button class="btn-operator">
          <i class="material-icons phone-icon">phone</i>
          Звонок исполнителю
        </button>
      </div>
    </div>

  </div>
</div>
