.authorized {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-month {
  font-size: 14px;
}

.list-nav-cont {
  height: 48px;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 5px #9F9F9F;
  margin-bottom: 6px;
}

.list-nav-info {
  width: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 48px;
  border-bottom: 3px #2196F3 solid;
}

.list-nav-rev {
  width: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 48px;
  color: #9F9F9F;
}

.list-date {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
}

.list-day {
  color: #2196F3;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.list-desc {
  width: 90%;
}

.order-desc-1 {
  width: 100%;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px #E5E5E5 solid;
  border-radius: 4px;
  background-color: white;
  margin: 10px;
  width: 50%;
}

.order-title {
  font-weight: bold;
  margin: 10px 0;
}

.order-key {
  color: #7E7E7E;
  font-size: 14px;
}

.order-prop {
  font-size: 14px;
}

.order-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  height: 42px;
  width: 72%;
  background-color: #F1F1F1;
  border-style: none;
  border-radius: 4px;
  margin-top: 30px;
}

.order-btn-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 72%;
  margin-top: 20px;
}

.order-btn1, .order-btn2 {
  height: 42px;
  width: 50%;
  background-color: #F1F1F1;
  border-style: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.order-btn2 {
  margin-left: 10px;
}

.order-accept {
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-top: 1px #E5E5E5 solid;
  color: #FFC107;
  font-size: 14px;
}

.order-complete {
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-top: 1px #E5E5E5 solid;
  color: #7E7E7E;
  font-size: 14px;
}


.info-icon {
  font-size: 16px;
  margin-right: 5px;
}

.btn-operator {
  display: flex;
  align-items: center;
  height: 42px;
  width: 80%;
  background-color: #F1F1F1;
  border-radius: 4px;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.phone-icon {
  font-size: 16px;
  margin-left: 20%;
  margin-right: 10px;
}

.notif-title {
  font-weight: bold;
  margin-top: 30px;
}

.tap-1 {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  .header {
    position: fixed;
  }

  .list-nav-cont {
    display: flex;
    position: fixed;
    top: 66px;
  }

  .tap-1 {
    margin-top: 130px;
  }

  .order {
    width: 95%;
    margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  .authorized {
    height: 80%;
  }

  .notif-text {
    width: 80%;
    text-align: center;
  }
}
