<div class="row main">
  <!--Nav bar-->
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="content-wrapper">
    <!--Header-->
    <div class="header">
      <i class="material-icons header-icon" (click)="onClickBack()">arrow_back</i>
      <p class="header-title">Мои заказы</p>
    </div>

    <!--Not authorized notification-->
    <div *ngIf="noOrders" class="authorized">
      <p class="notif-title">Вход в систему</p>
      <p class="notif-text m-t-20">Для просмотра заказов необходимо авторизоваться</p>
      <button class="btn btn-orange m-t-20" (click)="onClickAuth()">Войти</button>
    </div>

    <!--Content-->
    <div *ngIf="!noOrders">
      <!--Content nav bar-->
      <div class="row list-nav-cont">
        <p class="list-nav-info" id="navTap1" (click)="onClickTap1()">АКТИВНЫЕ</p>
        <p class="list-nav-rev" id="navTap2" (click)="onClickTap2()">ВЫПОЛНЕННЫЕ</p>
      </div>

      <div class="row">
        <!--Tap 1-->
        <div class="row tap-1" *ngIf="tap">

          <div class="order" *ngFor="let order of orders">
            <div class="row order-desc-1">
              <div class="list-date">
                <p class="list-day">{{order.day}}</p>
                <p class="list-month">{{order?.month}}</p>
              </div>

              <div class="list-desc">
                <p class="order-title">{{order.serviceName}}</p>
                <div class="row">
                  <p class="order-key">Адрес:</p>
                  <p class="order-prop">{{order.address}}</p>
                </div>
                <div class="row">
                  <p class="order-key">Дата:</p>
                  <p class="order-prop">{{order.orderDate}}</p>
                </div>
                <div class="row">
                  <p class="order-key">Время:</p>
                  <p class="order-prop">{{order.time}}</p>
                </div>
                <div class="row">
                  <p class="order-key">Оплата:</p>
                  <p class="order-prop">{{order.total}} сом <span class="order-key">(предварительно)</span></p>
                </div>
              </div>
            </div>

            <button class="order-btn" (click)="onClickDesc(order)">Подробнее</button>

            <div class="row order-btn-con">
              <button class="order-btn1">Написать</button>
              <button class="order-btn2" (click)="modal = true">Позвонить</button>
            </div>

            <div class="row order-not-accept" *ngIf="order.status === 'not_accepted'"
                 (click)="onClickDesc(order)">
              <i class="material-icons info-icon">info_outline</i>
              <p>Требуется ваше подтверждение</p>
            </div>

            <div class="row order-accept" *ngIf="order.status === 'accepted'">
              <i class="material-icons info-icon">done</i>
              <p>Заказ принят. Ожидайте исполнения</p>
            </div>

            <div class="row order-aborted" *ngIf="order.status === 'aborted'">
              <i class="material-icons info-icon">error</i>
              <p>Заказ отменен</p>
            </div>

            <button class="btn m-10" (click)="onCompleteOrder(order.id)">Завершить (для тестов)</button>

          </div>
        </div>

        <!--Tap 2-->
        <div class="row tap-1" *ngIf="!tap">
          <div class="order" *ngFor="let orderComp of ordersCompleted">
            <div class="row order-desc-1">
              <div class="list-date">
                <p class="list-day">{{orderComp.day}}</p>
                <p class="list-month">{{orderComp?.month}}</p>
              </div>

              <div class="list-desc">
                <p class="order-title">{{orderComp.serviceName}}</p>
                <div class="row">
                  <p class="order-key">Адрес:</p>
                  <p class="order-prop">{{orderComp.address}}</p>
                </div>
                <div class="row">
                  <p class="order-key">Дата:</p>
                  <p class="order-prop">{{orderComp.orderDate}}</p>
                </div>
                <div class="row">
                  <p class="order-key">Время:</p>
                  <p class="order-prop">{{orderComp.time}}</p>
                </div>
                <div class="row">
                  <p class="order-key">Оплата:</p>
                  <p class="order-prop">{{orderComp.total}} сом <span class="order-key">(предварительно)</span></p>
                </div>
              </div>
            </div>

            <button class="order-btn" (click)="onClickDesc(orderComp)">Подробнее</button>
            <div class="row order-btn-con">
              <button class="order-btn1">Написать</button>
              <button class="order-btn2" (click)="onClickReview(orderComp)" [disabled]="orderComp.stars?.length">
                Оценить
              </button>
            </div>
            <div class="row order-complete">
              <i class="material-icons info-icon">done_all</i>
              <p>Заказ выполнен</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<!--Review popup-->
<div class="modal" id="modalRev" *ngIf="modalReview" (click)="onClickOverModalRev($event)">
  <div class="rev-popup">

    <p class="rev-title">Оставить отзыв</p>
    <p class="rev-label">Ваша оценка</p>
    <div class="row rev-marks">
      <div #markElem class="rev-mark" *ngFor="let mark of [1, 2, 3, 4, 5]" (click)="onClickMark(markElem)">{{mark}}
      </div>
    </div>
    <p class="rev-label m-t-30">Что было сделано</p>
    <input class="rev-input" [(ngModel)]="revTitle" #title="ngModel" type="text" autocomplete="off">
    <p class="rev-label">Описание</p>
    <textarea class="rev-input" [(ngModel)]="revDescription" #decription="ngModel" type="text"
              autocomplete="off"></textarea>
    <button class="btn rev-btn" (click)="onSendOrderMark()">Отправить</button>

  </div>
</div>

<!--Call popup-->
<div class="modal" id="modal" *ngIf="modal" (click)="onClickOverModal($event)">
  <div class="popup">
    <button class="btn btn-operator">
      <i class="material-icons phone-icon">phone</i>
      Звонок оператору
    </button>
    <button class="btn btn-operator">
      <i class="material-icons phone-icon">phone</i>
      Звонок исполнителю
    </button>
  </div>
</div>

<!--Description popup-->
<div class="modal" id="modalDesc" *ngIf="modalDesc" (click)="onClickOverModalDesc($event)">
  <div class="desc-popup">

    <!--Mobile header-->
    <div class="row desc-header">
      <i class="material-icons close-icon" (click)="onClose()">close</i>
      <p class="desc-head-title">Детали заказа</p>
      <i class="material-icons mess-icon">forum</i>
      <i class="material-icons phone-icon-2">phone</i>
    </div>

    <p class="rev-title">Детали заказа</p>
    <div class="rev-desc" *ngIf="selectedOrder.status === 'not_accepted'">
      <p class="rev-desc-text">Если вы ознакомились и согласны с деталями заказа нажмите кнопку "Подтвердить"</p>
      <button class="rev-desc-btn btn-orange" (click)="onAcceptOrder(selectedOrder.id)">Подтвердить</button>
    </div>

    <!--Master-->
    <p class="rev-title-2">Исполнитель</p>
    <div class="row master-con">
      <img class="master-img m-20" src="{{selectedOrder?.agentImages[0]}}">
      <div class="m-10">
        <p>{{selectedOrder.agent?.accountname}} {{selectedOrder.agent?.accountsurname}}</p>
        <p class="master-con-name">{{selectedOrder.agent?.profession}}</p>
      </div>
      <i class="material-icons icon-verified">verified_user</i>
    </div>

    <!--Order info-->
    <p class="rev-title-3">Информация о заказе</p>
    <p class="rev-text">Разнообразный и богатый опыт консультации с широким активом обеспечивает широкому кругу
      (специалистов) участие в
      формировании системы обучения кадров.</p>

    <div class="list-desc">
      <div class="row">
        <p class="order-key">Адрес:</p>
        <p class="order-prop">{{selectedOrder.address}}</p>
      </div>
      <div class="row">
        <p class="order-key">Дата:</p>
        <p class="order-prop">{{selectedOrder.orderDate}}</p>
      </div>
      <div class="row">
        <p class="order-key">Время:</p>
        <p class="order-prop">{{selectedOrder.time}}</p>
      </div>
      <div class="row">
        <p class="order-key">Оплата:</p>
        <p class="order-prop">{{selectedOrder.total}} сом <span class="order-key">(предварительно)</span></p>
      </div>
    </div>

    <!--Attached files-->
    <p class="rev-title-3">Прикрепленные файлы</p>
    <div class="master-swipe-cont">
      <div class="master-photo" *ngFor="let photo of selectedOrder.agentImages"
           [style.backgroundImage]="'url('+ photo +')'" (click)="onOpenPhoto(photo)">
      </div>
    </div>

  </div>
</div>
