.swiper-container {
  margin: 10px 0 20px 0;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.swiper-slide {
  width: 70px;
  margin: 0 5px;
}

.img {
  height: 70px;
  width: 70px;
}

// Photo popup
.photo-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  z-index: 1000;
}

.photo-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 600px;
}

.photo-elem {
  width: 100%;
}

.prev-next {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  margin: 0 20px;
  user-select: none;
  -webkit-user-select: none;
}
