<div class="swiper-container">
<div class="swiper-wrapper">
  <div class="swiper-slide" *ngFor="let photo of photos">
    <img class="img" src="{{photo}}" (click)="onOpenPhoto(photo)">
  </div>
</div>
</div>

<!--Photo modal window-->
<div class="photo-modal" id="photo" *ngIf="imgPopup" (click)="onOverPhoto($event)">
  <div class="photo-content">
    <a class="prev-next" (click)="onPrevPhoto()">❮</a>
    <img class="photo-elem" src="{{imgClicked}}">
    <a class="prev-next" (click)="onNextPhoto()">❯</a>
  </div>
</div>
