<div class="row main">
  <!--Nav bar-->
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="common-wrapper">

    <div class="header">
      <span class="header-title">Вход</span>
    </div>

    <div class="reg-img">
      <p class="reg-title">Добро пожаловать на сервис Услуга.KG</p>
      <div class="row m-t-20 reg-row-centering">
        <input id="checkBox" class="reg-checkbox" type="checkbox" (click)="onCheckBox()">
        <p class="reg-accept m-l-10">Я согласен с <span class="reg-url">Пользовательским соглашением</span></p>
      </div>
      <div class="row m-t-20">
        <button class="reg-btn-1" (click)="onRegistration()">Регистрация</button>
        <button class="reg-btn-2 m-l-20" (click)="onEnter()">Войти</button>
      </div>
    </div>

  </div>

</div>
