<div class="row main">
  <!--Nav bar-->
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="content-wrapper">
    <div class="header">
      <span class="header-title">Диалоги</span>
    </div>

    <a (click)="onCallOperator()">
      <div class="tech-support">
        <div>Тех.поддержка</div>
      </div>
    </a>

    <div class="content">
      <p class="oper-time">Сегодня</p>

      <div class="chat">
        <img class="oper-photo" src="">
        <div class="m-l-20">
          <p class="chat-title-2">Ремонт бойлера и замена смесителя</p>
          <p class="chat-desc">Все готово для оформления заказа. Если</p>
        </div>
      </div>

      <div class="chat">
        <img class="oper-photo" src="">
        <div class="m-l-20">
          <p class="chat-title">Ремонт бойлера и замена смесителя</p>
          <p class="chat-desc">Все готово для оформления заказа. Если</p>
        </div>
      </div>

      <p class="oper-time">02.08.2017</p>

      <div class="chat">
        <img class="oper-photo" src="">
        <div class="m-l-20">
          <p class="chat-title">Ремонт бойлера и замена смесителя</p>
          <p class="chat-desc">Все готово для оформления заказа. Если</p>
        </div>
      </div>

      <div class="chat">
        <img class="oper-photo" src="">
        <div class="m-l-20">
          <p class="chat-title">Ремонт бойлера и замена смесителя</p>
          <p class="chat-desc">Все готово для оформления заказа. Если</p>
        </div>
      </div>

      <div class="chat">
        <img class="oper-photo" src="">
        <div class="m-l-20">
          <p class="chat-title">Ремонт бойлера и замена смесителя</p>
          <p class="chat-desc">Все готово для оформления заказа. Если</p>
        </div>
      </div>

      <div class="chat">
        <img class="oper-photo" src="">
        <div class="m-l-20">
          <p class="chat-title">Ремонт бойлера и замена смесителя</p>
          <p class="chat-desc">Все готово для оформления заказа. Если</p>
        </div>
      </div>

      <div class="chat">
        <img class="oper-photo" src="">
        <div class="m-l-20">
          <p class="chat-title">Ремонт бойлера и замена смесителя</p>
          <p class="chat-desc">Все готово для оформления заказа. Если</p>
        </div>
      </div>

    </div>

  </div>

</div>
