<preloader class="pre_loading" *ngIf="is_loading"></preloader>
<div class="row main">
  <!--Nav bar-->
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="content-wrapper">
    <div class="header">
      <span class="header-title">Диалоги</span>
    </div>

    <a (click)="onCallOperator()">
      <div class="tech-support">
        <img src="../../../../assets/img/tech-support.jpg">
        <div>Тех.поддержка</div>
      </div>
    </a>

    <div class="content" *ngFor="let dialog of oldDialogs">
      <!--<p class="oper-time">Сегодня</p>-->

      <div class="chat" (click)="onRedirectToHistoryDialog(dialog.message.chat)">
        <img class="oper-photo" src="../../../../assets/img/tech-support.jpg">
        <div class="m-l-20">
          <p class="chat-title-2">{{dialog.message.content}}</p>
          <p class="chat-desc"></p>
        </div>
      </div>
    </div>

  </div>
</div>
