/*Content*/
.service-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.service {
  background-color: white;
  border-radius: 5px;
  width: 45%;
  height: 160px;
  margin: 20px 0;
  margin-left: 3%;
}

.service-img {
  height: 120px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.service-title {
  bottom: 10px;
  border-top: 1px #E5E5E5 solid;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
}

.logo {
  background: url("../../../assets/img/logo.svg") no-repeat center;
  width: 70px;
  height: 33px;
  margin-top: 5px;
}

/*Responsive styles*/
@media screen and (max-width: 500px) {
  .service-list {
    flex-direction: column;
  }

  .service {
    width: 90%;
    height: 160px;
    margin: 16px auto 0 auto;
  }
}
