.ms-wrap {
  align-items: center;
  border: 1px #E5E5E5 solid;
  border-radius: 5px;
  width: 328px;
}

.ms-wrap-2 {
  width: 100%;
}

.ms-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.ms-name {
  font-size: 12px;
  color: #7E7E7E;
  text-transform: lowercase;
}

//common
.icon-verified {
  font-size: 16px;
  margin-left: 10px;
  line-height: 20px;
}

//popup
.ms-popup {
  right: 40%;
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}

.ms-pop-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.ms-pop-img {
  margin: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: no-repeat center;
  background-size: cover;
}

.cl-reg-cont {
  margin: 30px 20px;
}

.cl-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.cl-text {
  font-size: 14px;
  margin-left: 10px;
}

.cl-info-text {
  color: #7E7E7E;
  font-size: 14px;
}

.cl-info-text-2 {
  float: right;
  font-size: 14px;
}

.cl-info-text-3 {
  font-size: 14px;
  margin-left: auto;
  margin-right: 10px;
}

.cl-work-img {
  height: 70px;
  width: 70px;
  margin: 0 5px;
}

.cl-review {
  border: 1px #E5E5E5 solid;
  border-radius: 5px;
  width: 90%;
  margin: 10px auto;
}

.cl-review-title {
  font-weight: bold;
}

.cl-review-date {
  font-size: 12px;
  color: #9F9F9F;
}

.cl-review-descrip {
  margin-left: 10px;
}

.cl-review-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFC107;
  border: 1px #FFC107 solid;
  border-radius: 5px;
  width: 35px;
  height: 35px;
}

.nav-cont {
  height: 48px;
  width: 100%;
  box-shadow: 0 0 5px #9F9F9F;
}

.nav-info {
  width: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 48px;
  border-bottom: 3px #2196F3 solid;
}

.nav-rev {
  width: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 48px;
  color: #9F9F9F;
}

.material-icons {
  color: #2196F3;
  font-size: 16px;
}

.master-swipe-cont {
  overflow: auto !important;
  white-space: nowrap !important;
  margin: 0 10px;
}

.master-photo {
  display: inline-block !important;
  width: 70px;
  height: 70px;
  margin-left: 5px;
  background: no-repeat center;
  background-size: cover;
}

// Photo popup
.photo-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  z-index: 1000;
}

.photo-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 600px;
}

.photo-elem {
  width: 100%;
}

.nav-prev {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  margin-left: 20px;
  user-select: none;
  -webkit-user-select: none;
}

.nav-next {
  @extend .nav-prev;
  margin-left: 0;
  margin-right: 20px;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 30px;
}

/*Responsive styles*/
@media screen and (max-width: 500px) {
  .cl-main {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .cl {
    width: 90%;
  }

  .cl-sort-city {
    width: 40%;
  }

  /*Popup*/
  .modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none;
    margin-top: 56px;
  }

  .ms-popup {
    width: 100%;
    height: 100%;
  }

  .cl-popup {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 85%;
    background-color: white;
    border-radius: 0;
  }

  .photo-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
  }

  .nav-prev, .nav-next {
    font-size: 20px;
  }

  .nav-cont {
    position: fixed;
    background-color: white;
  }

  .ms-wrap-2 {
    margin: 40px 0 50px 0;
  }

  .ms-wrap-3 {
    margin: 70px 0;
  }

}

@media screen and (max-width: 800px){
  .ms-wrap {
    width: 90%;
  }
}
