<div class="row main">

  <div class="content-wrapper">

    <!--Header-->
    <div class="operator-header">
      <div class="back-icon"></div>
      <img class="operator-photo" src="">
      <div class="operator-info">
        <p class="operator-title">Оператор Виктория</p>
        <p class="operator-online">онлайн</p>
        <p class="operator-online">пишет...</p>
      </div>
      <div class="phone-icon"></div>
    </div>

    <!--Content-->
    <div class="chat-wrap">
      <p class="chat-time">Сегодня</p>

      <div class="chat-bubble">
        Добрый день, Владимир!
        Спасибо, что воспользовались
        нашим сервисом. Меня зовут
        Вика и я буду курировать ваш
        заказ
      </div>

      <p class="chat-choose">Как вы хотите переговорить</p>

      <button class="chat-btn-1">Обсудить по телефону</button>
      <button class="chat-btn-1">Обсудить в чате</button>

      <div class="row message-wrap-2">
        <p class="message-time">13:08</p>
        <p class="chat-bubble-2">Обсудить по телефону</p>
      </div>

      <div class="chat-bubble">
        Все готово для оформления заказа.
        Если вы согласны с деталями вашего заказа выберите "Подтвердить заказ"
      </div>

      <div class="chat-bubble">
        <p class="message-title">Описание:</p>
        <p>Разнообразный и богатый опыт консультации с широким активом обеспечивает широкому кругу (специалистов)
          участие в формировании системы обучения кадров.</p>
        <p class="message-title m-t-20">Адрес:</p>
        <p>ул. Медерова, 56</p>
        <p class="message-title m-t-20">Дата:</p>
        <p>03.08.2017</p>
        <p class="message-title m-t-20">Время:</p>
        <p>10:00 - 12:00</p>
        <p class="message-title m-t-20">Примерная стоимость:</p>
        <p class="m-b-10">1500 сом</p>
      </div>

      <p class="chat-choose">Вы хотите подтвердить заказ?</p>
      <button class="chat-btn-2">Подтвердить заказ</button>

      <input class="message-input" placeholder="Написать сообщение...">

    </div>

  </div>
</div>
