<div class="row main">
  <div class="content-wrapper">
    <!--Header-->
    <div class="operator-header">
      <a (click)="goBack()">
        <div class="back-icon"><img src="../../../../assets/img/arrow-back.png"></div>
      </a>
      <img class="operator-photo" src="../../../../assets/img/tech-support.jpg">
      <div class="operator-info">
        <p class="operator-title">Оператор {{name}}</p>
        <p class="operator-online">{{status}}</p>
      </div>
      <div class="phone-icon" (click)="onMakeCall()">
        <img src="../../../../assets/img/audiocalls-white.svg">
      </div>
    </div>
    <!--Content-->
    <div class="chat-wrap" (click)="closeDropUpOuter()">

      <div class="all-messages">
        <div class="dialog" *ngFor="let i of messages">
          <ng-container *ngIf="i.who === OPERATOR">
            <div class="bubble-block">
              <p class="chat-bubble">
                <span *ngIf="i.type === TYPE_TEXT">{{i.content}}</span>
                <span class="message-time-oper" *ngIf="i.type !== TYPE_SUBMIT">{{i.date | date:'shortTime'}}</span>
              </p>
              <p class="chat-bubble" *ngIf="i.type === TYPE_IMAGE"><img src="{{i.content}}"/></p>
            </div>
            <div class="submit-window" *ngIf="i.type === TYPE_SUBMIT && i.content === undefined">
              <p class="message-title">Описание: {{i.crm.desc}}</p>
              <p class="message-title m-t-20">Адрес: {{i.crm.address}}</p>
              <p class="message-title m-t-20">Дата: {{i.crm.orderDate}}</p>
              <p class="message-title m-t-20">Время: {{i.crm.time}}</p>
              <p class="message-title m-t-20">Примерная стоимость: {{i.crm.total}}</p>
              <p class="m-b-10"></p>
              <p class="chat-choose">Вы хотите подтвердить заказ?</p>
              <button class="chat-btn-2" (click)="changeMessage(i.id, true)">Подтвердить заказ</button>
              <button class="chat-btn-2" (click)="changeMessage(i.id, false)">Отменить заказ</button>
            </div>
          </ng-container>

          <div class="row message-wrap-2">
            <ng-container *ngIf="i.who === CLIENT">
              <div class="chat-bubble-2">
                <span *ngIf="i.type === TYPE_TEXT">{{i.content}}</span>

              <div class="bubble-img" *ngIf="i.type === TYPE_IMAGE">
                <img src="{{i.content}}"/>
              </div>
              <span class="message-time">{{i.date | date:'shortTime'}}</span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="write-message">
      <input type="text" (click)="scrollToBottom()" class="message-input" id="user-message-input"
             [(ngModel)]="usersMessage" #users="ngModel" placeholder="Написать сообщение...">
      <button class="send-message" (click)="sendMessage()"><img src="../../../../assets/img/send-icon.svg"></button>
      <div *ngIf="common.showAttachIcon" class="attach-icon" (click)="toggleDropUp()"><img
        src="../../../../assets/img/attach-icon.png"></div>

      <ul class="drop-up" id="dropUp">
        <li>
          <a (click)="goToGeoLocation()">
            <div class="map-img"><img src="../../../../assets/img/marker.svg"><span>Геолокация</span></div>
          </a>
        </li>
        <hr>
        <input type="file" style="display: none" accept="image/*" name="filename" id="file-uploader"
               (change)="onUpload($event)">
        <li>
          <label for="file-uploader" class="upload-photo-img" (click)="hideDropUpMenu()">
            <img src="../../../../assets/img/camera.png"><span>Фото</span>
          </label>
        </li>
      </ul>
    </div>



    <!--Call popup-->
    <div class="modal" id="modal" *ngIf="modal" (click)="onCloseModal($event)">
      <div class="popup">
        <button class="btn-operator">
          <img src="../../../../assets/img/audiocalls.svg">
          <b>Начать аудиозвонок</b>
        </button>

        <button class="btn-operator">
          <img src="../../../../assets/img/videocalls.svg">
          <b>Начать видеозвонок</b>
        </button>

        <button class="btn-operator" id="cancel-call" (click)="onCloseModal($event)">
          <img src="../../../../assets/img/cancel.svg">
          <b class="cancel">Отменить</b>
        </button>
      </div>
    </div>
  </div>
</div>
