<div class="row main">
  <div class="content-wrapper">
    <!--Header-->
    <div class="operator-header">
      <a (click)="goToMainPage()"><div class="back-icon"><img src="../../../../assets/img/arrow-back.png"></div></a>
      <img class="operator-photo" src="">
      <div class="operator-info">
        <p class="operator-title">Оператор {{name}}</p>
        <p class="operator-online">{{status}}</p>
      </div>
      <div class="phone-icon"></div>
    </div>
    <!--Content-->
    <div class="chat-wrap" (click)="closeDropUpOuter()">
      <p class="chat-time">Сегодня</p>

      <div class="dialog" *ngFor="let i of messages">
        <ng-container *ngIf="i.who === 'operator'">
          <p class="message-time-oper">{{i.date.date | date:'shortTime'}}</p>
          <p class="chat-bubble" *ngIf="i.type === 'text'">{{i.content}}</p>
          <p class="chat-bubble" *ngIf="i.type === 'image'"><img src="{{i.content}}"/></p>
          <div *ngIf="i.type === 'desc'">
            <p class="message-title">Описание:</p>
            <p>{{i.content.desc}}</p>
            <p class="message-title m-t-20">Адрес:</p>
            <p>{{i.content.address}}</p>
            <p class="message-title m-t-20">Дата:</p>
            <p>{{i.content.date}}</p>
            <p class="message-title m-t-20">Время:</p>
            <p>{{i.content.time}}</p>
            <p class="message-title m-t-20">Примерная стоимость:</p>
            <p class="m-b-10">{{i.content.price}} </p>
          </div>
        </ng-container>
        <div class="row message-wrap-2">
          <ng-container *ngIf="i.who === 'client' ">
            <p class="message-time">{{i.date | date:'shortTime'}}</p>
            <p class="chat-bubble-2" *ngIf="i.type === 'text'">{{i.content}}</p>
            <div class="bubble-img">
              <p class="chat-bubble-2" *ngIf="i.type === 'image'"><img src="{{i.content}}"/></p>
            </div>
            <div *ngIf="i.type === 'desc'">
              <p class="message-title">Описание:</p>
              <p>{{i.content.desc}}</p>
              <p class="message-title m-t-20">Адрес:</p>
              <p>{{i.content.address}}</p>
              <p class="message-title m-t-20">Дата:</p>
              <p>{{i.content.date}}</p>
              <p class="message-title m-t-20">Время:</p>
              <p>{{i.content.time}}</p>
              <p class="message-title m-t-20">Примерная стоимость:</p>
              <p class="m-b-10">{{i.content.price}} </p>
            </div>
          </ng-container>
        </div>
      </div>
      <!--<p class="chat-choose">Как вы хотите переговорить</p>-->
      <!--<button class="chat-btn-1">Обсудить по телефону</button>-->
      <!--<button  class="chat-btn-1">Обсудить в чате</button>-->


      <!--<p class="chat-choose">Вы хотите подтвердить заказ?</p>-->
      <!--<button class="chat-btn-2">Подтвердить заказ</button>-->
    </div>
    <div class="write-message">
      <input class="message-input" [(ngModel)]="usersMessage" #users="ngModel" placeholder="Написать сообщение...">
      <button class="send-message" (click)="sendMessage()"><img src="../../../../assets/img/send-icon.svg"></button>
      <div class="attach-icon" (click)="toggleDropUp()"><img src="../../../../assets/img/attach-icon.png"></div>

      <ul class="drop-up" id="dropUp">
        <li>
          <a (click)="goToGeoLocation()">
            <div class="map-img"><img src="../../../../assets/img/marker.svg"><span>Геолокация</span></div>
          </a>
        </li>
        <hr>
        <input type="file" style="display: none" accept="image/*" name="filename" id="file-uploader" (change)="onUpload($event)">
        <li>
          <label for="file-uploader" class="upload-photo-img" (click)="hideDropUpMenu()">
            <img src="../../../../assets/img/camera.png"><span>Фото</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
