.choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  width: 45%;
  margin: 20px 0;
  margin-left: 3%;
  text-align: center;
}

.choose-img {
  width: 100px;
  padding: 20px 0;
}

.choose-title {
  padding: 10px 0;
  width: 90%;
}

.choose-btn {
  border-width: 0;
  border-style: none;
  border-radius: 5px;
  background-color: #FFC107;
  height: 42px;
  width: 90%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: auto 0;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: row;
}

.choose-content-wrapper {
  width: 60%;
  margin-left: 10px;
}

/*Responsive styles*/
@media screen and (max-width: 500px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .choose {
    width: 85%;
    margin-left: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 800px) {
  .nav-bar {
    margin: 0;
    width: 0;
  }

  .header {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .choose-content-wrapper {
    width: 100%;
    margin: 0 0 60px 0;
  }

  .content {
    width: 100%;
  }
}
