/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'icons';
  src: url('./assets/fonts/icons.ttf');
  font-weight: normal;
  font-style: normal;
}

html, body{
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}
body{
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  outline: none;
  text-decoration: none;
}
button{
  outline: none;
  cursor: pointer;
}
img{
  outline: none;
}
a img {
  border: none;
}

a {
  outline: none !important;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-40 {
  margin-left: 40px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}


.m-t-50 {
  margin-top: 50px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.p-10 {
  padding: 10px;
}
/*Header*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  background: #2196f3;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  outline: none;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
}

.header-title {
  width: 85%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  padding-right: 20px;
}

.header-icon {
  color: white;
  font-size: 24px;
  margin-left: 20px;
}

/*Main wrapper*/
.main {
  justify-content: center;
  min-height: 100vh;
}

.common-wrapper {
  width: 60%;
  margin-left: 10px;
}

.content-wrapper {
  width: 60%;
  margin-left: 10px;
  min-height: 100vh;
}

.icon-verified {
  color: #2196F3 !important;
}

.icon{
  font-family: icons, sans-serif;
}

.btn {
  outline: none;
  border: none;
}

.hor-line {
  width: 100%;
  border-bottom: 1px #E5E5E5 solid;
}


// Popup
.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 30%;
  left: 40%;
  width: 320px;
  height: 145px;
  background-color: white;
  border-radius: 4px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.btn-orange {
  height: 42px;
  width: 320px;
  background-color: #FFC107;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

@media screen and (max-width: 500px) {
  // Popup
  .popup {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
    height: 20vh;
    background-color: white;
    border-radius: 4px;
  }

  .modal {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 800px) {
  .nav-bar {
    margin: 0;
    width: 0;
  }

  .header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 56px;
  }

  .content-wrapper {
    width: 100%;
    margin: 0;
  }

  .common-wrapper {
    width: 100%;
    margin: 0;
  }
}
