/* You can add global styles to this file, and also import other style files */
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  outline: none;
  text-decoration: none;
}
button{
  outline: none;
  cursor: pointer;
}
img{
  outline: none;
}
a img {
  border: none;
}
input{
  -webkit-appearance: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-appearance: none;
}
a {
  outline: none !important;
}
