<div class="bgSite">
  <div class="wrapperSite clearfix">

    <!--Navigation menu-->
    <div class="wrapLeftMenu">
      <div class="logoSite">
        <a href=""><img src="../../assets/img/logoSite.png" alt="Сервис"></a>
      </div>
      <div class="leftMenu">
        <ul>
          <li class="mainli getSerivices activeli"><a href="#"><img class="bottomIconHome"
                                                                    src="../../assets/img/home-icon-active.svg" alt="">Главная</a>
          </li>
          <li class="mainli showOrders"><a href="#"><img class="bottomIconOrders" src="../../assets/img/orders_icon.svg" alt="">Мои
            Заказы</a></li>
          <li class="mainli showProfile"><a href="#"><img class="bottomIconProfile" src="../../assets/img/profile-icon.svg" alt="">Мой
            профиль</a></li>
          <li><a href="#" onclick="jivo_api.open();"><img src="../../assets/img/support-icon.svg" alt="">Онлайн-поддержка</a></li>
        </ul>
      </div>
      <div class="log-out">
        <a href="#">
          <button class="log-outbtn" type="submit">Войти</button>
        </a>
      </div>
    </div>


  </div>
</div>
