<!--Content-->
<div class="content-wrapper">
  <div class="headTitle">
    <img class="logo" src="../../assets/img/logo.svg">
  </div>

  <!--Service list-->
  <div class="service-list">
    <div class="service" (click)="onClick()">
      <img class="service-img" src="../../assets/img/clearning.png">
      <p class="service-title">Уборка</p>
    </div>
    <div class="service">
      <img class="service-img" src="../../assets/img/plumbing.png">
      <p class="service-title">Сантехника</p>
    </div>
    <div class="service">
      <img class="service-img" src="../../assets/img/antenna.png">
      <p class="service-title">Электрика</p>
    </div>
    <div class="service">
      <img class="service-img" src="../../assets/img/antenna.png">
      <p class="service-title">Электрика</p>
    </div>
    <div class="service">
      <img class="service-img" src="../../assets/img/antenna.png">
      <p class="service-title">Электрика</p>
    </div>
  </div>
</div>
