<div class="row main" style="height: 100vh">
  <!--Nav bar-->
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <!--Content-->
  <div class="choose-content-wrapper">
    <div class="header">
      <i class="material-icons header-icon" (click)="onClickBack()">arrow_back</i>
      <span class="header-title">Способ заказа</span>
    </div>

    <div class="content">
      <div class="choose">
        <img class="choose-img" src="../../../../assets/img/choose/master.svg">
        <p class="choose-title">Связаться напрямую с исполнителем</p>
        <button class="choose-btn" (click)="onClick()">Выбрать</button>
      </div>
      <div class="choose">
        <img class="choose-img" src="../../../../assets/img/choose/operator.svg">
        <p class="choose-title">Оформить заказ через оператора</p>
        <button class="choose-btn" (click)="onClickOperator()">Выбрать</button>
      </div>
    </div>
  </div>
</div>
