<!--Navigation menu-->
<div class="wrapLeftMenu">
  <div class="logoSite">
    <img class="nb-logo" src="../assets/img/logo2.svg" alt="Сервис" (click)="onClickHome()">
  </div>
  <div class="leftMenu">
    <ul>
      <li id="home" (click)="onClickHome()">
        <span id="homeIcon" class="icon">{{ico.home}}</span>Главная
      </li>

      <li id="orders" (click)="onClickOrders()">
        <span id="ordersIcon" class="icon">{{ico.orders}}</span>Мои заказы
      </li>

      <li id="profile" (click)="onClickProfile()">
        <span id="profileIcon" class="icon">{{ico.profile}}</span>Мой профиль
      </li>

      <li id="support" (click)="onClickOperator()">
        <span id="supportIcon" class="icon">{{ico.support}}</span>Онлайн-поддержка
      </li>
    </ul>
  </div>
  <ng-container *ngIf="!logged_in">
  <div class="log-out m-t-30">
    <a>
      <button class="log-outbtn" (click)="onClickLogin()">Войти</button>
    </a>
  </div>
  </ng-container>
</div>

<!--Bottom menu-->
<div class="bottom-menu">
  <div class="bottom-elem" (click)="onClickHome()">
      <span id="homeIconBottom" class="bottom-icon icon">{{ico.home}}</span>
  </div>
  <div class="bottom-elem" (click)="onClickOrders()">
      <span id="ordersIconBottom" class="bottom-icon icon">{{ico.orders}}</span>
  </div>
  <div class="bottom-elem" (click)="onClickProfile()">
      <span id="profileIconBottom" class="bottom-icon icon">{{ico.profile}}</span>
  </div>
  <div class="bottom-elem" (click)="onClickOperator()">
    <span id="supportIconBottom" class="bottom-icon icon">{{ico.support}}</span>
  </div>
</div>
