<!--Navigation menu-->
<div class="wrapLeftMenu">
  <div class="logoSite">
    <a href=""><img class="nb-logo" src="../assets/img/logo2.svg" alt="Сервис"></a>
  </div>
  <div class="leftMenu">
    <ul>
      <li id="home">
        <a href=""><span id="homeIcon" class="icon">{{ico.home}}</span>Главная</a>
      </li>

      <li id="orders">
        <a href="#"><span id="ordersIcon" class="icon">{{ico.orders}}</span>Мои заказы</a>
      </li>

      <li id="profile">
        <a href="#"><span id="profileIcon" class="icon">{{ico.profile}}</span>Мой профиль</a>
      </li>

      <li id="support">
        <a href="#"><span id="supportIcon" class="icon">{{ico.support}}</span>Онлайн-поддержка</a>
      </li>
    </ul>
  </div>
  <div class="log-out">
    <a href="#">
      <button class="log-outbtn" type="submit">Войти</button>
    </a>
  </div>
</div>

<!--Bottom menu-->
<div class="bottom-menu">
  <div class="bottom-elem">
    <a href="#">
      <span id="homeIconBottom" class="bottom-icon icon">{{ico.home}}</span>
    </a>
  </div>
  <div class="bottom-elem">
    <a href="#">
      <span id="supportIconBottom" class="bottom-icon icon">{{ico.support}}</span>
    </a>
  </div>
  <div class="bottom-elem">
    <a href="#">
      <span id="ordersIconBottom" class="bottom-icon icon">{{ico.orders}}</span>
    </a>
  </div>
  <div class="bottom-elem">
    <a href="#">
      <span id="profileIconBottom" class="bottom-icon icon">{{ico.profile}}</span>
    </a>
  </div>
</div>
