<div class="row main">
  <!--Nav bar-->
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="common-wrapper">
    <!--Header-->
    <div class="header">
      <i class="material-icons header-icon" (click)="onClickBack()">arrow_back</i>
      <p class="header-title">Оставить отзыв</p>
    </div>

    <div class="rev-container">
      <div class="rev-wrap">
        <p class="rev-label">Ваша оценка</p>
        <div class="row rev-marks">
          <div class="rev-mark" *ngFor="let mark of marks" (click)="onClickMark(mark)">{{mark}}</div>
        </div>
        <p class="rev-label">Что было сделано</p>
        <input class="rev-input" type="text" autocomplete="off">
        <p class="rev-label">Описание</p>
        <textarea class="rev-input" type="text" autocomplete="off"></textarea>
        <button class="btn btn-orange m-t-30" (click)="onClickSend()">Отправить</button>
      </div>
    </div>

  </div>
</div>
