<div class="row main">
  <!--Nav bar-->
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="common-wrapper">
    <div class="header">
      <i class="material-icons header-icon" (click)="onClickBack()">arrow_back</i>
      <span class="header-title">Введите телефон</span>
    </div>

    <div class="prof-content">
      <p class="pas-title m-t-30">Восстановление / Создание пароля</p>
      <span class="pas-text m-t-20">Пожалуйста, введите номер телефона, который вы использовали при регистрации</span>

      <input [textMask]="{mask: mask}" (keyup)="checkPhoneComplete()" class="prof-form" name="name" type="text" autocomplete="off" placeholder="Номер телефона"
              #phone [(ngModel)]="phoneVal" required/>
      <button [disabled]="phoneComplete" class="btn-orange m-t-30" (click)="onSendSms()">
        Отправить
      </button>
    </div>
  </div>

</div>
