.common-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.prof-content {
  display: flex;
  flex-direction: column;
  width: 328px;
}

.prof-form {
  margin-top: 30px;
  border: none;
  border-bottom: 1px #D1D1D1 solid;
  width: 328px;
}

.pas-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
}

.pas-text {
  color: #3A3A3A;
  font-size: 14px;
  text-align: center;
}
