<div class="row main">
  <!--Nav bar-->
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="common-wrapper">
    <div class="header">
      <i class="material-icons header-icon" (click)="onClickBack()">arrow_back</i>
      <span class="header-title">Создание пароля</span>
    </div>

    <div class="prof-content">
      <input class="prof-form" name="name" type="password" autocomplete="off" placeholder="Пароль"
             #pass [(ngModel)]="passValue" required/>
      <label class="prof-not">Не менее 6 символов</label>

      <input class="prof-form" name="name" type="password" autocomplete="off" placeholder="Повторите пароль"
             required/>

      <input class="prof-form" name="name" type="text" autocomplete="off" placeholder="Смс код"
             #code  [(ngModel)]="codeValue" minlength="4" maxlength="4" required/>

      <p class="reg-pop-repeat" *ngIf="!smsRepeat">Повторная отправка через</p>
      <p class="reg-pop-counter" *ngIf="!smsRepeat">00:{{nullDigit}}{{countdown}}</p>
      <div class="send-code-again" *ngIf="smsRepeat" (click)="onSendSmsAgain()">Отправить код заново</div>

      <button [disabled]="" class="btn-orange m-t-30" (click)="onSave()">
        Сохранить
      </button>

    </div>
  </div>

</div>
